NEXT_PUBLIC_NODE_PROD=integration # production  or integration
NEXT_PUBLIC_DEV_URL=http://spotly.test
NEXT_PUBLIC_PROD_URL=https://whatfy.com
NEXT_PUBLIC_DEV_AUTH_URL=http://spotly.test
NEXT_PUBLIC_PROD_AUTH_URL=https://whatfy.com

# NEXT_PUBLIC_CLIENT_ID=9d4cfd52-3057-43be-8214-b01aed7b6b56
# NEXT_PUBLIC_CLIENT_SECRET=7DTSK0UZVE2TMCtnBPsD3qubvXJMLh9Ou5bT1zgz

NEXT_PUBLIC_CLIENT_ID=9d4cfd52-3057-43be-8214-b01aed7b6b56
NEXT_PUBLIC_CLIENT_SECRET=7DTSK0UZVE2TMCtnBPsD3qubvXJMLh9Ou5bT1zgz